@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: auto 0;
  font-weight: 600;
  font-family: "Figtree", sans-serif;
  background-color: hsl(47, 88%, 63%);
}

/* Main Container */
.blog_card {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 1.5em;
  background-color: #fff;
  padding: 1.5em;
  box-shadow: 8px 8px black;
}

.text_content {
  max-width: 327px;
}

.category {
  width: 5em;
  padding: 0.5em;
  font-weight: 700;
  color: black;
  background-color: hsl(47, 88%, 63%);
}

h2 {
  font-weight: 800;
}

h2:hover {
  cursor: pointer;
  color: hsl(47, 88%, 63%);
}

.section_text {
  color: hsl(0, 0%, 50%);
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.author img {
  max-width: 9%;
}

.author span {
  font-weight: bold;
  font-size: 0.95em;
  margin-left: 10px;
}
